{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <div class="form-group">
        <a class="btn btn-primary" href="{{ path('books_edit', {'id': book.id}) }}">
            <i class="fa fa-pencil"></i>
            Edit
        </a>
        <div class="display-inline">
            {{ include('books/_delete_form.html.twig') }}
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ book.price }}</td>
            </tr>
            <tr>
                <th>AuthorId</th>
                <td>{{ book.authorId }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ book.createdAt ? book.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ book.updatedAt ? book.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-default" href="{{ path('books_index') }}">back to list</a>
{% endblock %}
